<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> clients/clientForm }}
    </div>

    <div class="col-md-7">
      {{> clients/clientTable }}
    </div>
  </div>
</div>