<div class="container p-5">
  <div class="row">

    <div class="col-md-4">
      {{> solds/soldForm }}
    </div>

    <div class="col-md-8">
      {{> solds/soldTable }}
    </div>
  </div>
</div>

