<div class="container p-5">
    <h1 style="text-align: center; color: white;">Resumen del pedido</h1>
  <div class="row">
    <div class="col-md-12">
      {{> solds/soldTable }}
    </div>
  </div>
    <button class="btn btn-primary">Generar factura</button>
    <a href="/solds/" class="btn btn-primary">Volver</a>
</div>